/* App.css */

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backgroundColor:"black"
}

body {
  font-family: Arial, sans-serif; /* Or any font you want */
  min-height: 100lvh;

}


